<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.info.dao.StkStockAllMapper" >
  <resultMap id="BaseResultMap" type="com.stock.info.domain.entity.StkStockAll" >
    <result column="ts_code" property="tsCode" jdbcType="VARCHAR" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="fullname" property="fullname" jdbcType="VARCHAR" />
    <result column="enname" property="enname" jdbcType="VARCHAR" />
    <result column="market" property="market" jdbcType="VARCHAR" />
    <result column="exchange" property="exchange" jdbcType="VARCHAR" />
    <result column="curr_type" property="currType" jdbcType="VARCHAR" />
    <result column="list_status" property="listStatus" jdbcType="VARCHAR" />
    <result column="list_date" property="listDate" jdbcType="VARCHAR" />
    <result column="delist_date" property="delistDate" jdbcType="VARCHAR" />
    <result column="is_hs" property="isHs" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>


  <insert id="insert" parameterType="com.stock.info.domain.entity.StkStockAll" >
    insert into stk_stock_all (ts_code, symbol, `name`, 
      area, industry, fullname, 
      enname, market, exchange, 
      curr_type, list_status, list_date, 
      delist_date, is_hs, create_date
      )
    values (#{tsCode,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{enname,jdbcType=VARCHAR}, #{market,jdbcType=VARCHAR}, #{exchange,jdbcType=VARCHAR}, 
      #{currType,jdbcType=VARCHAR}, #{listStatus,jdbcType=VARCHAR}, #{listDate,jdbcType=VARCHAR}, 
      #{delistDate,jdbcType=VARCHAR}, #{isHs,jdbcType=VARCHAR}, now()
      )
  </insert>


  <delete id="deleteAll" parameterType="com.stock.info.domain.entity.StkStockAll">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from stk_stock_all
    <where>
      <if test = "exchange!= null and  exchange != ''">
        exchange = #{exchange}
      </if>
    </where>
  </delete>

  <select id="selectAll" resultMap="BaseResultMap" >
    select ts_code, symbol, `name`, area, industry, fullname, enname, market, exchange, 
    curr_type, list_status, list_date, delist_date, is_hs, create_date
    from stk_stock_all order by ts_code asc
  </select>

  <select id="selectAllByContion" resultMap="BaseResultMap"  parameterType="com.stock.info.domain.queryObject.StkStockAllQueryObject">
    select ts_code, symbol, `name`, area, industry, fullname, enname, market, exchange,
    curr_type, list_status, list_date, delist_date, is_hs, create_date
    from stk_stock_all
     <where>
       <if test="tsCodeList!=null and tsCodeList.size > 0 ">
         AND ts_code in
         <foreach collection="tsCodeList" open="(" close=")" separator="," item="tsCode" index="index">
           #{tsCode}
         </foreach>
       </if>
       <if test="tsCode!=null and tsCode  != '' ">
         AND ts_code = #{tsCode}
       </if>
     </where>
     order by ts_code asc
  </select>

  <!--非预编译执行：  动态设置表名和 查询字段采用预编译方式-->
  <select id="selectIndexMessage" resultType="java.util.Map" parameterType="java.util.Map">
    select  ${indexColumnName} as indexData , end_date as indexDate  from  ${indexTable}
    where  1=1

    <!--# 使用入参为字符串吗？-->
    <if test="tsCode!=null and tsCode  != '' ">
      AND ts_code = #{tsCode}
    </if>
    <if test="dateList!=null and dateList.size > 0 ">
      and  end_date in
      <foreach  collection="dateList" item="item" open="(" close=")" separator=",">
        ${item}
      </foreach>
    </if>


    <!--<if  test = "contion!= null and  contion != ''">-->
      <!--and #{exchange}-->
    <!--</if>-->
    order by end_date desc
  </select>

</mapper>